
.pageTitle{
    text-align: center;
    margin-top: 30px;
}

.image {  
    display: block;            /* Makes images centered as a block */  
    margin: 0 auto;            /* Horizontal centering */  
    max-height: 130px;         /* Set a fixed maximum height for uniformity */  
    width: 60%;               /* Maintain aspect ratio */  
    object-fit: contain; 
    padding-bottom: 10px;            /* Add some padding around the image */     
}  


.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: center;
    align-items: center;
  }

  .architectureImage{
    width: 55%;
   
  }
  
  .card {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 300px;
    display: flex;           /* Enables flexbox */  
    flex-direction: column;  /* Stack children vertically */  
    justify-content: center; /* Centers children vertically */  
    align-items: center;     /* Centers children horizontally */  
    text-align: center;      /* Ensures text is centered */  
    width: 100%;             /* Ensure responsiveness */  
    max-width: 400px;        /* Optional max width */  
    padding: 20px;           /* Add space for content */  
   
  }
  
  .compTitle {
    text-align: center;
    margin-top: 10px;
  }
  
  .title {
    text-decoration: none;
  }
  

  
  .description {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
.startButton {
    margin: 20px 0px 20px 0px;
}